/* CLASS FOR REMOVING PADDING IN NAVBAR*/

.navbar {
    padding:15px;
     -webkit-transition: background .8s ease-out,padding .8s ease-out;
        -moz-transition: background .8s ease-out,padding .8s ease-out;
        transition: background .8s ease-out,padding .8s ease-out;
font-size:4ex;
border: white;
background-color:white; 
font-family: "Lucida Grande";
color:black;
}


/* Style Navbar */
.navbar-pad-original {
      padding:0px;
}

/*.navbar-inverse .navbar-nav > li > a {
color: white;
}*/

/*.navbar-inverse .navbar-brand {
color: white;
}*/

#myNavbar{

    border-top:none;
}

/* Adjust rabbit logo*/
.navbar-brand2{
 width:20ex;
   position: absolute;
    top: 5px;
    left: -30px;
    padding:none;

}


/*Style Text */

h1 {
font-family: "Lucida Grande";
font-size:4ex;
    line-height: 150%;
    margin:3ex;
}

p {
font-family: "Lucida Grande";
font-size:3ex;
    line-height: 150%;
    margin:2ex;
}

#map{
position:center;
}

/* About image styling */
#aboutrab{
  float: right;
  margin:25px;
  width:400px;
  top:40ex;
  border-radius:10%; 
}

/*Style Front page*/
#OdinImBorder{
position: relative;
height:400px;
  width: 100%;
}

#OdinImBorder:before{
  content: ' ';
    display:inline-block;
    position: absolute;
    left: 0;
    top: 0;
  opacity: 0.4;
  height:100%;
  width: 100%;
  background: url('../../images/grass_alpha.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
z-index: -11;
-ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;

  }




/*Style Front page*/
#OdinIm{
	min-width:25ex;
	min-height:25ex;
  width:30ex;
  height:30ex;
	 position:absolute;
border-radius:50%; 
 left: 50%; 
 margin-left: -90px;
 top:10ex;
   }


/* Style social media icons */

#social-buttons{
  text-align: center;
}

#social-buttons a{
    display:inline-block;
    margin-left: auto;
    margin-top:80px;
}


/* Index page styling */
.Head1{
font-family: "Lucida Grande";
font-size:2.5ex;
}
.para{
font-family: "Lucida Grande";
font-size:2ex;
    line-height: 80%;
}
.rab{
display:inline-block;
  min-width:15ex;
  min-height:15ex;
}




/* Checkmark on first page*/
ul.checkmark{
 list-style-type: none;
 margin-top:30px;
text-align: center;
padding:0;
font-family: "Lucida Grande";
font-size:4ex;
white-space: pre-line;
  }

  ul.checkmark li{
    display: inline-block;
background:url('../../images/Tick.png') 0 center no-repeat;
background-size: 30px 30px;
padding-left: 35px;

  }

/* Style Footer */
.footer{
   text-align: center;
}


/* Form on about page*/

input[type="radio"] + label {
    color: red;
    font-family:Arial, sans-serif;
    font-size:14px;
}

  #gender{
text-align:center;
  }

  #gender.btn-sm {
  background-color : #c00;
  color : #ccc;
  font : "Lucida Grande";
  border : 2px solid #ccc;
}

body {
    text-align: center;
}

.button {
    display: inline-block;
    margin: 10px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow:    0 8px 0 #c5376d, 0 15px 20px rgba(0, 0, 0, .35);
    -moz-box-shadow: 0 8px 0 #c5376d, 0 15px 20px rgba(0, 0, 0, .35);
    box-shadow: 0 8px 0 #c5376d, 0 15px 20px rgba(0, 0, 0, .35);
    -webkit-transition: -webkit-box-shadow .1s ease-in-out;
    -moz-transition: -moz-box-shadow .1s ease-in-out;
    -o-transition: -o-box-shadow .1s ease-in-out;
    transition: box-shadow .1s ease-in-out;
    font-size: 50px;
    color: #fff;
}

.button span {
    display: inline-block;
    padding: 20px 30px;
    background-color: #ec528d;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(hsla(338, 90%, 80%, .8)), to(hsla(338, 90%, 70%, .2)));
    background-image: -webkit-linear-gradient(hsla(338, 90%, 80%, .8), hsla(338, 90%, 70%, .2));
    background-image: -moz-linear-gradient(hsla(338, 90%, 80%, .8), hsla(338, 90%, 70%, .2));
    background-image: -o-linear-gradient(hsla(338, 90%, 80%, .8), hsla(338, 90%, 70%, .2));
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
    -moz-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
    font-family: 'Lucida Grande';
    line-height: 1;
    text-shadow: 0 -1px 1px rgba(175, 49, 95, .7);
    -webkit-transition: background-color .2s ease-in-out, -webkit-transform .1s ease-in-out;
    -moz-transition: background-color .2s ease-in-out, -moz-transform .1s ease-in-out;
    -o-transition: background-color .2s ease-in-out, -o-transform .1s ease-in-out;
    transition: background-color .2s ease-in-out, transform .1s ease-in-out;
}

.button:hover span {
    background-color: #ec6a9c;
    text-shadow: 0 -1px 1px rgba(175, 49, 95, .9), 0 0 5px rgba(255, 255, 255, .8);
}

.button:active, .button:focus {
    -webkit-box-shadow:    0 8px 0 #c5376d, 0 12px 10px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 8px 0 #c5376d, 0 12px 10px rgba(0, 0, 0, .3);
    box-shadow:    0 8px 0 #c5376d, 0 12px 10px rgba(0, 0, 0, .3);
}

.button:active span {
    -webkit-transform: translate(0, 4px);
    -moz-transform: translate(0, 4px);
    -o-transform: translate(0, 4px);
    transform: translate(0, 4px);
}